<% if user_signed_in? %>
  <aside class="sidebar">
    <nav class="nav">
      <div class="avatar-div"> <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %> </div>
      <b></b>
      <ul class="nav-items">
        <li>
          <%= link_to "#" , class: "nav-link" do %>
            <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
          <% end %>
        </li>
      </ul>
      <div class="sidebar-separator"></div>
      <ul class="nav-items">
        <li class="nav-title">More</li>
        <li><a href="#" class="nav-link">Contact</a></li>
        <li><a href="#" class="nav-link">Support</a></li>
        <li><a href="#" class="nav-link">Careers</a></li>
      </ul>
    </nav>
  </aside>

  <div class="hamburger">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
<% end %>
