

/* Sidebar */


.sidebar {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  height: 100%;
  width: calc(100% - 100px);
  background: #1d2127;
  border-right: 3px solid #0f1114;
  overflow: hidden;
  -webkit-transform: translate3d(calc(100vw - 100px), 0, 0);
  transform: translate3d(calc(95px - 100vw), 0, 0);
  transition-property: transform;
}

.sidebar, .sidebar a { color: #abb4be; }

.nav { margin-top: 100px; }

.nav-items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-title {
  display: block;
  padding: 10px 50px;
  text-transform: uppercase;
  font-weight: 600;
  color: #465162;
}

.nav-link {
  display: block;
  padding: 10px 50px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.nav-link:hover { background-color: #282d36; }

.sidebar-separator {
  margin: 30px;
  height: 2px;
  background-color: #000;
  border-bottom: 1px solid #2b313a;
}

/* Hamburger Icon */


.hamburger {


  box-sizing: border-box;
  overflow: hidden;

  background: #fff;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em;
  color: #888;


  display: block;
  position: fixed;
  right: 20px;
  top: 20px;
  cursor: pointer;
  z-index: 10;
  border-radius: 5px;
  background-color: #3498db;
  border: 2px solid #ddd;
  padding: 10px 7px;
  width: 50px;
  height: 46px;
  transition-property: background-color, border-color;
}

.bar {
  display: block;
  position: relative;
  background-color: #ddd;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  margin: 0 auto;
  transition-property: transform, opacity, background-color, width;
}

.bar:first-child { top: 0; }

.bar:nth-child(2) { opacity: 1; }

.bar:last-child { bottom: 0; }

.hamburger:hover { border-color: #fff; }

.hamburger:hover .bar { background-color: #fff; }

.bar + .bar { margin-top: 5px; }

/* Animation */


.main, .sidebar, .hamburger, .bar {
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

/* Show Sidebar */


.show-sidebar .main {
  -webkit-transform: translate3d(260px, 0, 0);
  transform: translate3d(260px, 0, 0);
}

.show-sidebar .sidebar {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.show-sidebar .hamburger {
  background-color: #282d36;
  border-color: #0f1114;
}

.show-sidebar .bar { background-color: #abb4be; }

.show-sidebar .bar:first-child {
  width: 120%;
  -webkit-transform: rotate(45deg) translate(5px, 8px);
  transform: rotate(45deg) translate(5px, 8px);
}

.show-sidebar .bar:nth-child(2) { opacity: 0; }

.show-sidebar .bar:last-child {
  width: 120%;
  -webkit-transform: rotate(-45deg) translate(4px, -8px);
  transform: rotate(-45deg) translate(4px, -8px);
}


/* User Avatar */
.avatar {
  height: 25vw;
  max-height: 160px;
  width: 25vw;
  max-width: 160px;
  border-radius: 50%;
}
